<h2>Current Projects</h2>

<% @projects.each do |project| %>
  <li>
    <h3><a href="/projects/<%=project.id%>"><%= project.project_name %></a> - <%= project.project_type %></h3>
    <p><%= project.status %> <%=project.stage %></p>
  </li>
<% end %>

<% link_to :back, root_path %>
