<h2><%= @project.project_name %></h2>
<ul>
  <li>
    <%= @project.project_type %>
    <%= @project.status %>
    <%= @project.stage %>
  </li>
</ul>
<div>
  <h4>Current Cycles:</h4>
  <li>
    <% @project.project_cycles.each do |cycle| %>
      <%= cycle.cycle.cycle_name %>
      <% end %>
  </li>
</div>

<div>
  <ul>
    <%= link_to 'Add Cycles', new_project_project_cycle_path(@project.id) %>
    <%= link_to 'Update Project', edit_project_path(@project.id) %>
    <%= link_to 'Delete Project', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
  </ul>
</div>

<div><%= link_to :back, '/projects' %></div>
