
<h2 class='headline'><%= @project.project_name %></h2>
<div>
  <ul>
    <ul class='listing'>
      <p>Type: <%= @project.project_type %></p>
      <p>Status: <%= @project.status %></p>
      <p>Stage: <%= @project.stage %></p>
    </ul>
  </ul>
</div>

<div>
  <h4 class='headline'>Current Cycles:</h4>

    <% @project.project_cycles.each do |project_cycle| %>
      <li class='listing'>
        <%= project_cycle.cycle.cycle_name %>
        <%= link_to 'Edit Cycle', edit_project_cycle_path(project_cycle), class: 'tiny button secondary' %>
        <%= link_to 'View Cycle', project_cycle_path(project_cycle), class: 'tiny button secondary' %>
      </li>
    <% end %>

</div>


<div class="large-12 columns">
  <ul class="button-group round">
    <%= link_to 'Add Cycles', new_project_project_cycle_path(@project.id), class: 'small button' %>
    <%= link_to 'Update Project', edit_project_path(@project.id), class: 'small button' %>
    <%= link_to 'Delete Project', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'small button' %>
    <%= link_to 'Add Staff to Project', new_project_assigned_user_path(@project.id), class: 'small button' %>
  </ul>
</div>

<div>

  <h4 class='headline'>Assigned Staff:</h4>
  <% @assigned_users.each do |assigned_user| %>
    <li class='listing'>
      <%= User.find(assigned_user.user_id).name %>
       - <%= User.find(assigned_user.user_id).job_title %>
      <%= link_to 'Remove Staff', assigned_user, method: :delete, data: {confirm: 'Are you sure?'}, class: 'tiny button secondary'%>
    </li>
  <% end %>
</div>

<div><%= link_to :back, '/projects', class: 'small button' %></div>
